<!DOCTYPE html>
<head>
<title></title>
</head>
<body>
    <div class = 'heading'>
        Create a Simulation
        <div class = 'subheading'>
            Try it out for yourself.
        </div>
    </div>
    <form method="POST" action="" class = "create-form">
        <select id="team1" class="team1" name="team1">
            <option value="" selected disabled>Home Team</option>
			<option value="76ers">76ers</option>
			<option value="Bucks">Bucks</option>
			<option value="Bulls">Bulls</option>
        	<option value="Cavaliers">Cavaliers</option>
			<option value="Celtics">Celtics</option>
			<option value="Clippers">Clippers</option>
			<option value="Grizzlies">Grizzlies</option>
			<option value="Hawks">Hawks</option>
			<option value="Heat">Heat</option>
			<option value="Hornets">Hornets</option>
			<option value="Jazz">Jazz</option>
			<option value="Kings">Kings</option>
			<option value="Knicks">Knicks</option>
			<option value="Lakers">Lakers</option>
            <option value="Magic">Magic</option>
			<option value="Mavericks">Mavericks</option>
			<option value="Nets">Nets</option>
			<option value="Nuggets">Nuggets</option>
			<option value="Pacers">Pacers</option>
			<option value="Pelicans">Pelicans</option>
			<option value="Pistons">Pistons</option>
			<option value="Raptors">Raptors</option>
			<option value="Rockets">Rockets</option>
			<option value="Spurs">Spurs</option>
			<option value="Suns">Suns</option>
            <option value="Thunder">Thunder</option>
			<option value="Timberwolves">Timberwolves</option>
			<option value="Trail Blazers">Trail Blazers</option>
			<option value="Warriors">Warriors</option>
			<option value="Wizards">Wizards</option>
		</select><br>
        <select id="team2" class="team2" name="team2">
            <option value="" selected disabled>Away Team</option>
			<option value="76ers">76ers</option>
			<option value="Bucks">Bucks</option>
			<option value="Bulls">Bulls</option>
        	<option value="Cavaliers">Cavaliers</option>
			<option value="Celtics">Celtics</option>
			<option value="Clippers">Clippers</option>
			<option value="Grizzlies">Grizzlies</option>
			<option value="Hawks">Hawks</option>
			<option value="Heat">Heat</option>
			<option value="Hornets">Hornets</option>
			<option value="Jazz">Jazz</option>
			<option value="Kings">Kings</option>
			<option value="Knicks">Knicks</option>
			<option value="Lakers">Lakers</option>
            <option value="Magic">Magic</option>
			<option value="Mavericks">Mavericks</option>
			<option value="Nets">Nets</option>
			<option value="Nuggets">Nuggets</option>
			<option value="Pacers">Pacers</option>
			<option value="Pelicans">Pelicans</option>
			<option value="Pistons">Pistons</option>
			<option value="Raptors">Raptors</option>
			<option value="Rockets">Rockets</option>
			<option value="Spurs">Spurs</option>
			<option value="Suns">Suns</option>
            <option value="Thunder">Thunder</option>
			<option value="Timberwolves">Timberwolves</option>
			<option value="Trail Blazers">Trail Blazers</option>
			<option value="Warriors">Warriors</option>
			<option value="Wizards">Wizards</option>
		</select> <br>
        Home Team Moneyline:<input id="ml1" class="ml" type="number" name="ml1" required> <br>
        Away Team Moneyline:<input id="ml2" class="ml" type="number" name="ml2" required>    
        <input type="submit" value="Simulate">
    </form>
</body>